{% extends "page.twig" %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>About</h1>

  <p>
    Here at Habitat Headquarters (HH) we’re dedicated to providing you with a
    controlled temperature environment using only humane methods. We call this our
    dedication to peeps policy. It’s no secret that our competitor (whose name
    rhymes with vest) has long been using highly controversially (to put it mildly)
    means of incredibly convenient heating and cooling of your home.
  </p>

  <p>
    Habitat uses hot air exclusively found in nature, with no mother-in-law sourcing
    whatsoever. Our cool air is provided exclusively from northern Greenland, and is
    certified penguin-fart free. Habitat technology was innovated by our top
    scientists (who have been tested and verified as non-mutant, unlike our
    competitor) and their work with preserved slices of Dr. Albert Einstein’s brain.
    The dedication to peeps policy extends to our laboratory and testing team as
    well, who are asked to work a much more reasonable 12 hours per day, as compared
    to the harsh, forced labor conditions imposed by our competitor on their teams.
  </p>

  <p>
    To put it simply, at Habitat, we believe in doing things the right way. Even if
    that means doing it the hard way. Expect on the second Monday of every month,
    which is Margarita Monday.
  </p>
{% endblock %}
