{% extends "page.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>The Habitat Thermostat</h1>
  <p>Now available at Best Buy stores located in your imagination for the low, low price of $17,000!</p>
  <p>
    <a class="btn btn-lg btn-primary" href="https://nest.com/thermostat/life-with-nest-thermostat/" role="button">Sign me up, bro!</a>
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Still not convinced?</h3>
  </div>
  <div class="panel-body">
    <p>Check out our <a href="/about">about</a> page for info about our company. We won't make you listen to any charming ukelele music - we promise!</p>
  </div>
</div>
{% endblock %}
